body {
    background: #D8D8D8
}
.curlingStone {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 70px;
    left: 20px;
    background: yellow;
    border: 2px solid #424242;
    position: absolute;
}